@model ClienteAPI.Models.OrderVM

@{
    ViewData["Title"] = "NewOrder";
}
@{
    List<SelectListItem> Products = ViewBag.Products;
}

<h1>NewOrder</h1>

<h4>New Order</h4>
<hr />

<div class="card">
    <div class="card-header">
        Pedido
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-sm-4">
                <label class="form-label" asp-for="Client.Id">Id Cliente</label>
                <input class="form-control form-control-sm" type="text" asp-for="Client.Id" disabled="true" id="txtid">
            </div>

            <div class="col-sm-4">
                <label class="form-label" asp-for="Client.FirstName">Nombre</label>
                <input class="form-control form-control-sm" type="text" asp-for=Client.FirstName id="txtnombre">
            </div>
            <div class="col-sm-4">
                <label class="form-label">Apellido</label>
                <input class="form-control form-control-sm" asp-for="Client.LastName" type="text" id="txtapellido">
            </div>
        </div>
        <hr />
        <div class="row align-items-end">
            <div class="col-sm-3">
                <label class="form-label">Producto</label>
                <select id="txtproducto" asp-items="@Products" class="form-select"></select>
             </div>
            <div class="col-sm-3">
                <label class="form-label">Precio</label>
                <input class="form-control form-control-sm" type="text" id="txtprecio">
            </div>
            <div class="col-sm-3">
                <label class="form-label">Cantidad</label>
                <input class="form-control form-control-sm" type="text" id="txtcantidad">
            </div>
            <div class="col-sm-3">
                <button class="btn btn-success btn-sm" id="btnAgregar">Agregar</button>
                <button class="btn btn-primary btn-sm" id="btnTerminar">Cerrar Pedido</button>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-sm" id="tbProducto">
                    <thead>
                        <tr class="table-dark">
                            <th>Codigo</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4" class="text-end">Total General</th>
                            <th id="totalGeneral">0</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>


    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    
    <script>

        var totalGeneral = 0;

        $("#btnAgregar").on("click", function () {

            var precio = parseFloat($("#txtprecio").val());
            var cantidad = parseFloat($("#txtcantidad").val());
            var total = precio * cantidad;

            // Obtener el texto del producto seleccionado
            var productoSeleccionado = $("#txtproducto option:selected").text();
            var codigo = $("#txtproducto option:selected").val();

            $("#tbProducto tbody").append(
                $("<tr>").append(
                    $("<td>").text(codigo),
                    $("<td>").text(productoSeleccionado),
                    $("<td>").text(precio.toFixed(2)),
                    $("<td>").text(cantidad),
                    $("<td>").text(total.toFixed(2)),
                    $("<td>").append(
                        $('<a>').attr('href', '/Customers/Edit/' + codigo).text('Edit'),
                        ' | ',
                        $('<a>').attr('href', '/Customers/Delete/' + codigo).text('Delete')
                    )
                )
            );

            totalGeneral += total;
            $("#totalGeneral").text(totalGeneral.toFixed(2));

            $("#txtproducto").val("")
            $("#txtprecio").val("")
            $("#txtcantidad").val("")
            $("#txtproducto").focus();
        })

        // Manejo del dropdown en cascada
        const urlObtenerPrecio = '@Url.Action("GetPrice")';
        $("#txtproducto").change(async function () {

            console.log("El select cambio");
            const valorSeleccionado = $(this).val();

            const respuesta = await fetch(urlObtenerPrecio, {
                method: 'POST',
                body: valorSeleccionado,
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            const json = await respuesta.json();
            console.log(json);
            $("#txtprecio").val(json);

        })

        // Cerrar el Pedido
        $("#btnTerminar").on("click", function () {

            console.log("Click en terminar")

            var Detalle_Compra = []
            var total = 0;

            $("#tbProducto > tbody > tr").each(function (i, tr) {

                Detalle_Compra.push(
                    {
                        ProductId: $(tr).find('td:eq(0)').text(),
                        Quantity: $(tr).find('td:eq(3)').text(),
                    }
                )
                total = total + parseFloat($(tr).find('td:eq(4)').text())
            })


            var clientId = $("#txtid").val();
            var orderNumber = 0;

            console.log(Detalle_Compra);

            var Order = {
                //Id = 0,
                // OrderNumber: 0,
                ClientId: clientId,
                OrderDetails: Detalle_Compra
            }


            jQuery.ajax({
                url: '@Url.Action("NewOrder", "Orders")',
                type: "POST",
                data: JSON.stringify(Order),
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.respuesta) {
                        alert("Venta Registrada")

                        location.reload();
                    }

                }

            })
        })

        

    </script>
}
